<div class="wrapper">

  <h1 class="heading">task一覧</h1>

  <%= form_with url: "/tasks", method: :post, id: "form" do |f| %>
      <%= f.label "タスク：" %>
      <%= f.text_field :title %>
      <%= f.submit "登録する", id: "submit" %>
  <% end %>

  <div id="list">
  </div>

    <% @tasks.each do |t| %>
      <div class="task">
        <div class="task_date">
          <%= t.created_at %>
        </div>
        <div class="task_title">
          <%= t.title %>
        </div>
      </div>
    <% end %>

</div>